<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <%= link_to '一覧', boards_path, class: 'btn btn-outline-dark' %>
    <% if @current_user && @board.user.id == @current_user.id %>
      <%= link_to '編集', edit_board_path(@board), class: 'btn btn-outline-dark' %>
    <% end %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<%= render @board %>

<div class="p-comment__list">
  <div class="p-comment_listTitle">コメント</div>
  <%= render @board.comments, current_user: @current_user %>
</div>

<% if @current_user %>
  <%= render partial: 'comments/form', locals: { comment: @comment, current_user: @current_user } %>
<% end %>